<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller="MainCtrl">

  <div class="list">
    <div class="item item-divider">Notifications</div>
  <ion-toggle ng-model="pushNotification.checked" ng-change="pushNotificationChange()">
              Push Notifications
  </ion-toggle
  <div class="item">
            <pre ng-bind="pushNotification | json"></pre>

</div>
<ion-toggle toggle-class="toggle-assertive"
                      ng-model="emailNotification"
                      ng-true-value="'Subscribed'"
                      ng-false-value="'Unubscribed'">
            Newsletter
</ion-toggle>
<div class="item">
            <pre ng-bind="emailNotification | json"></pre>
 </div>




  </div>



</body>

</html>
