/* Empty. Add your own CSS if you like */
.box{
  text-align: center;
  height:100%;
}
.blue{
  background-color:blue;
}

.blue h1{
  color: white ;
}
.yellow {
  background-color:yellow;
}
.pink {
  background-color:pink;
}
